{% extends 'base.html' %}
{% load humanize %}
{% block contents %}

<div class = "row mt-5">
    <div class = "col-12">
        <div class = "card" style = "width:100%">
            <div class = "card-body">
                <h5 class = "card-title">{{product.name}}</h5>
            </div>
            <ul class = "list-group list-group-flush">
                <li class = "list-group-item">
                    <form method = "POST" action = "/order/create/">
                        {% csrf_token %}
                        {% for field in form %}
                        
                        <div class = "form-group">
                            <!--{% ifnotequal field.name 'product' %}-->
                            <label for = "{{field.id_for_label}}">{{field.label}}</label>
                            <!--{% endifnotequal %}-->
                            <input type = "{{field.field.widget.input_type}}" class = "form-control" id = "{{field.id_for_label}}"
                            placeholder = "{{field.label}}" name = "{{field.name}}"
                            value = "{% ifequal field.name 'product' %} {{product.id}} {% endifequal %}">
                        </div>

                        {% if field.errors %}
                        <span style = "color:red">{{field.errors}}</span>
                        {% endif %}
                        
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">주문</button>
                    </form>
                </li>
                <li class = "list-group-item">상품 가격 : {{ product.price | intcomma }} 원</li>
                <li class = "list-group-item">남은 수량 : {{ product.stock}}</li>
                <li class = "list-group-item">등록 날짜 : {{ product.registered_date|date:'Y-m-d H:i'}}</li>
                    <!-- |safe 를 하지 않으면 태그가 텍스트로 인식되어 제대로 나오지 않는다. 
                    태그를 텍스트가 아닌 태그 자체로 인식하기 위해 |safe 하는 것.-->
                <li class = "list-group-item">{{ product.description|safe }} </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}