{% extends 'base.html' %}
{% load humanize %}

{% block header %}
<script>
    $(document).ready(function(){
        $.ajax({
            url : "/api/product",
            success : function(result){
                console.log(result)
            }
        });
    })

    function product_detail(id){
        $.ajax({
            url:"/api/product/"+id,
            success : function(result){
                $("#product-"+id).popover({
                    html : true,
                    content : result.name + "<br>" + result.price
                }).popover('show');
            }
        })
    }

    function product_leave(id){
        $("#product-"+id).popover('hide');
    }
</script>
{% endblock %}

{% block contents %}
<div class = "row mt-5">
    <div class = "col-12">
        <table class = "table table-dark">
            <thead class = "thead thead-dark">
                <td scope = "col">No.</td>
                <td scope = "col">상품명</td>
                <td scope = "col">가격</td>
                <td scope = "col">등록 날짜</td>
            </thead>
            <tbody class = "text-light">
                {% for product in object_list %}
                <tr>
                    <td scope = "col">{{product.id}}</td>
                    <td><a id = "product-{{product.id}}" onmouseenter = "product_detail( {{ product.id }} );" onmouseleave = "product_leave( {{product.id}} );"
                        href = "/product/{{product.id}}">{{ product.name }}</a></td>
                    <td>{{ product.price | intcomma }}원</td>
                    <td>{{ product.registered_date | date:'Y-m-d H:i'}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
